.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 60px; /* or 70px if your navbar is taller */
  box-sizing: border-box;
}

/* Video */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%) scale(1);
  object-fit: cover;
  z-index: -2;

  animation: slowZoom 30s ease-in-out infinite alternate;
}

/* Overlay for readability */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

/* Content */
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 3px;
}

.hero-content p {
  max-width: 700px;
  margin: 2rem 0;
  color: #ffff;
  padding: 1.5rem 2rem;
  border-radius: 50px;
  font-size: 2.5rem;
}

.hero-btn {
  padding: 0.75rem 2.5rem;
  border-radius: 50px;
  border: none;
  background: white;
  color: black;
  font-size: 1rem;
}

@keyframes slowZoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.12);
  }
}
